<%= form_with(model: quote, local: true) do |form| %>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div class="field">
    <%= form.label :age, t(:age_of_traveller) %>
    <%= form.number_field :age, id: :quote_age %>
  </div>

  <div class="field">
    <%= form.label :trip_length, t(:trip_length) %>
    <%= form.select(
            :trip_length,
            options_for_select(quote_trip_lengths),
            {},
            id: :trip_length,
            )
    %>
  </div>

  <div class="actions">
    <%= form.submit t(:get_quote) %>
  </div>
<% end %>
