<%= form_with(model: quote, local: true) do |form| %>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div class="field">
    <%= form.label :date_of_birth, t(:date_of_birth) %>
    <%= date_select(
            :quote,
            :date_of_birth,
            id: :quote_date_of_birth,
            default: 43.years.ago,
            start_year: 69.years.ago.year,
            end_year: 17.years.ago.year,
            order: [:day, :month, :year])
    %>
  </div>

  <div class="field">
    <%= form.label :trip_starts_at, t(:trip_starts_at) %>
    <%= form.datetime_field(
            :trip_starts_at,
            id: :quote_trip_starts_at,
            )
    %>
  </div>

  <div class="field">
    <%= form.label :trip_ends_at, t(:trip_ends_at) %>
    <%= form.datetime_field(
            :trip_ends_at,
            id: :quote_trip_ends_at,
            )
    %>
  </div>

  <div class="actions">
    <%= form.submit t(:get_quote) %>
  </div>
<% end %>
