<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Trip start</th>
      <th>Trip end</th>
      <th>Trip length (days)</th>
      <th>Quote</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.age %></td>
        <td><%= quote.trip_starts_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= quote.trip_ends_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= quote.trip_length.round(2) %></td>
        <td><%= quote.formatted_quote %></td>
        <td><%= link_to 'Show', quote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
